@model MAPWEBAPP.Models.AdminMapULBDetails

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
             debugger;
        var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

        for (i = 0; i < lstMapDetails.length; i++) {
            if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
            {
                $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                html: true,
                track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br>Total Property :<strong>" + lstMapDetails[i]['totalHouse'] + "</strong><br>Today Property Scanned :<strong>" + lstMapDetails[i]['totalHouseScan'] + "</strong>"});

            }
        }
        }
        );


    </script>
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });</script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }
    </style>
</head>

<body>
    <div class="d-flex">
        <!-- Count List -->
        <div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Total Amravati Property</h5>

                <ul class="list-group">
                    <li class="list-group-item head-color">Total Property Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                    <li class="list-group-item head-color">Total Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                    <li class="list-group-item head-color">Total Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                    <li class="list-group-item head-color">Total Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalDump</li>
                </ul>

            </div>
        </div>
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Amravati</h4>
            <img src="/Images/GadchiroliMap/amravati-tehsil-map.jpg" usemap="#image-map" class="map" style="width: 100%;">

            <map name="image-map">
                <area target="" alt="" id="3102" title="" href="https://ictsbm.com/?returnUrl=chandurrailwaywaste@ulb.com&Type=W" coords="527,438,536,440,542,444,549,439,556,442,562,439,566,446,576,447,587,441,594,441,595,454,607,452,603,457,593,459,590,465,592,474,581,480,585,486,589,493,598,494,594,500,598,511,593,512,586,517,590,525,593,531,588,536,582,542,581,548,582,554,570,555,562,567,555,561,555,550,543,549,529,545,524,531,525,520,520,511,511,512,522,503,524,496,518,491,518,481,513,483,510,476,514,467,511,461,523,464,524,455,529,448" shape="poly">
            </map>
        </div>


        <div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Today Total Scan Amravati Property</h5>
              
                    <ul class="list-group">
                        <li class="list-group-item head-color">Today Scan Property Count</li>
                        <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                        <li class="list-group-item head-color">Today Scan Liquid Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                        <li class="list-group-item head-color">Today Scan Street Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                        <li class="list-group-item head-color">Today Scan Dump Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalDumpScan</li>
                    </ul>


            </div>
        </div>
    </div>


</body>


</html>
<script>
    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>