@model MAPWEBAPP.Models.AdminMapULBDetails


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWM</title>
    <link rel="icon" type="image/x-icon" href="~/Images/SWM_Logo.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/tooltip.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    <script type="text/javascript">

       $(document).ready(function () {
             debugger;
        var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

        for (i = 0; i < lstMapDetails.length; i++) {
            if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
            {
                $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                html: true,
                    track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong>"
                });

            }
        }
        }
        );

    </script>
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });
        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });
    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }
        /*  .sec td{line-height:8px !important}*/
        th, td {
            border: 1px solid #aba1a1;
            border-collapse: collapse;
            /*   border-radius:20px;*/
            font-size: 12px;
            padding: 2px;
            text-align: inherit;
            font-weight: 600;
            padding-left: 15px;
            line-height: 20px
        }

        tr:nth-child(even) {
            /* background: #94c7dfab*/
            /* background: #dc3545a6*/
            background: #fff
        }

        tr:nth-child(odd) {
            /* background: #FFF*/
            /*background: #e7a6a6f2*/
            background: #fff;
        }

        #head {
            /* background: #3db5f1;*/
            background: #dc3545;
            color: #fff;
        }

        /*td:hover {*/
        /*background: #48bbf5;*/
        /*background: #e94747
        }*/

        td a {
            color: #000
        }

            td a:hover {
                color: #000
            }
    </style>
</head>

<body>

    <header>
        <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%">
            <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
            <img src="/Images/Embelem.png" style="height:55px;" />
            <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
        </div>
    </header>
    <div class="d-flex mt-2" id="mahamap">
        <!-- Count List -->
        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Total Bhandara Property</h5>

                <ul class="list-group">
                    <li class="list-group-item head-color">Total House Count Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                    <li class="list-group-item head-color">Total Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                    <li class="list-group-item head-color">Total Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                    <li class="list-group-item head-color">Total Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalDump</li>
                </ul>

            </div>
        </div>*@
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Bhandara</h4>
            <img src="/Images/GadchiroliMap/Bhandara-tehsil-map.jpg" usemap="#image-map" class="map" id="img_ID" style="width: 100%;">

            <map name="image-map" id="map_ID">

                <area target="_blank" alt="Mohadi" id="3096" title="" href="https://ictsbm.com/?returnUrl=mohadiwaste@ulb.com&Type=W" coords="182,169,184,157,193,155,200,146,208,158,214,157,208,147,216,141,219,149,227,157,234,149,234,142,242,140,247,150,245,157,251,160,259,159,268,160,275,160,279,151,282,144,289,142,295,145,304,146,312,159,322,156,330,154,335,157,334,168,346,172,357,173,356,181,350,185,349,194,345,201,333,208,332,215,328,224,343,232,350,232,357,234,360,242,365,246,374,241,376,248,379,254,385,254,390,268,395,258,400,253,405,246,406,236,407,226,411,216,417,203,427,207,425,216,427,224,428,233,434,235,440,241,446,238,443,246,438,253,441,258,438,265,436,274,441,280,464,282,459,288,451,283,448,288,450,294,442,302,444,309,436,315,420,308,414,315,407,321,399,321,397,314,392,315,385,301,374,302,367,304,361,306,361,299,364,287,352,282,344,282,333,275,327,280,332,291,325,296,310,295,303,300,300,308,291,306,291,314,286,317,277,315,270,317,267,324,261,311,260,304,239,307,239,298,247,292,245,283,246,269,252,267,244,253,238,244,235,234,236,223,229,223,221,211,214,206,208,194,196,174" shape="poly">
            </map>
        </div>
        <div class="d-flex ml-2 justify-content-between">
            <table style="width:100%;height:10%">
                <tr id="head">
                    <th colspan="3" style="border-top-left-radius: 8px; border-top-right-radius: 8px; border: none; padding-top: 5px; text-align: center"> ULBs</th>

                    @*<th style="border-top-right-radius: 8px; border: none; padding-top: 5px;">Complete ULB</th>*@

                </tr>
                <tr>

                    <td><a target="_blank" href="https://ictsbm.com/?returnUrl=mohadiwaste@ulb.com&Type=W">Mohadi Nagar Panchayat</a></td>


                </tr>
              


            </table>
        </div>

        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Today Total Scan Bhandara Property</h5>
                <ul class="list-group">
                    <li class="list-group-item head-color">Today Scan House Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                    <li class="list-group-item head-color">Today Scan Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                    <li class="list-group-item head-color">Today Scan Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                    <li class="list-group-item head-color">Today Scan Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalDumpScan</li>
                </ul>


            </div>
        </div>*@
    </div>


</body>


</html>
<script>
    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>