@model MAPWEBAPP.Models.AdminMapULBDetails


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWM</title>
    <link rel="icon" type="image/x-icon" href="~/Images/SWM_Logo.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/tooltip.css" rel="stylesheet" />
    @*<script type="text/javascript">



        $(document).ready(function () {
              debugger;
         var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

         for (i = 0; i < lstMapDetails.length; i++) {
             if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
             {
                 $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                 html: true,
                     track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong>"
                 });

             }
         }
         }
         );*@


    </script>
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });
        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });
    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }
        /*  .sec td{line-height:8px !important}*/
        th, td {
            border: 1px solid #aba1a1;
            border-collapse: collapse;
            /*   border-radius:20px;*/
            font-size: 12px;
            padding: 2px;
            text-align: inherit;
            font-weight: 600;
            padding-left: 15px;
            line-height: 20px
        }

        tr:nth-child(even) {
            /* background: #94c7dfab*/
            /* background: #dc3545a6*/
            background: #fff
        }

        tr:nth-child(odd) {
            /* background: #FFF*/
            /*background: #e7a6a6f2*/
            background: #fff;
        }

        #head {
            /* background: #3db5f1;*/
            background: #dc3545;
            color: #fff;
        }

        /*td:hover {*/
        /*background: #48bbf5;*/
        /*background: #e94747
        }*/

        td a {
            color: #000
        }

            td a:hover {
                color: #000
            }
    </style>
</head>

<body>

    <header>
        <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%">
            <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
            <img src="/Images/Embelem.png" style="height:55px;" />
            <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
        </div>
    </header>
    <div class="d-flex mt-2" id="mahamap">
        <!-- Count List -->
        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Total Gondia Property</h5>

                <ul class="list-group">
                    <li class="list-group-item head-color">Total House Count Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                    <li class="list-group-item head-color">Total Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                    <li class="list-group-item head-color">Total Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                    <li class="list-group-item head-color">Total Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalDump</li>
                </ul>

            </div>
        </div>*@
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Gondia</h4>
            <img src="/Images/GadchiroliMap/Gondia-tehsil-map.jpg" usemap="#image-map" id="img_ID" class="map" style="width: 100%;">

            <map name="image-map" id="map_ID">
                <area target="_blank" alt="Goregaon" id="3105" title="" href="https://ictsbm.com/?returnUrl=goregaonwaste@ulb.com&Type=W" coords="295,277,302,269,309,261,305,256,310,251,310,244,312,234,314,223,319,215,312,203,319,197,333,197,338,189,335,178,342,175,350,176,362,181,369,186,377,181,384,179,390,183,394,189,405,184,414,192,419,197,425,192,432,189,436,196,435,205,443,211,439,221,438,227,449,223,455,226,463,229,459,237,456,243,453,248,458,255,463,251,468,253,475,261,484,254,492,250,490,258,486,263,480,267,480,274,478,282,472,278,471,284,472,290,479,288,484,293,489,299,487,304,487,313,496,315,498,322,496,331,500,338,493,340,486,342,491,352,484,354,476,353,478,362,471,366,471,373,459,378,449,376,444,367,437,367,431,367,431,358,440,358,449,354,452,346,453,335,450,328,441,328,434,327,428,326,421,325,413,319,408,325,400,328,394,324,392,316,396,309,387,306,378,306,377,297,370,295,364,305,360,297,354,293,349,291,342,291,332,287,324,280,307,278" shape="poly">
                <area target="_blank" alt="Tirora" title="Tirora" href="https://ictsbm.com/?returnUrl=Tirorawaste@ulb.com&Type=W" coords="177,173,177,165,184,152,195,143,203,132,208,123,208,111,206,99,207,84,216,75,227,76,240,78,248,86,253,93,252,101,260,104,266,109,274,106,286,107,289,120,288,129,285,135,280,143,278,149,270,144,263,147,265,158,273,165,271,170,267,177,261,182,264,188,270,190,282,188,290,194,298,192,298,198,304,190,311,194,314,203,318,211,317,219,314,225,313,236,310,246,310,253,305,259,307,265,298,275,289,278,281,281,277,294,273,303,266,309,260,310,253,315,249,321,243,321,234,318,225,311,217,303,205,301,195,309,189,311,183,306,172,304,165,309,167,319,161,319,152,321,144,321,152,309,149,302,157,304,165,300,158,296,144,294,138,285,146,278,140,271,148,261,142,258,137,254,131,254,130,246,125,236,129,228,122,222,119,208,132,202,141,195,152,187,167,180" shape="poly">
                <area target="_blank" alt="Salekasa" title="Salekasa" href="https://ictsbm.com/?returnUrl=salekasawaste@ulb.com&Type=W" coords="577,360,586,361,595,357,601,353,607,352,612,352,613,346,617,341,622,337,627,337,631,340,637,341,643,339,650,333,658,327,664,321,670,321,676,321,683,314,685,309,693,305,699,305,703,301,703,293,705,285,709,280,713,274,721,271,725,266,725,259,720,251,715,243,706,248,698,245,686,251,677,247,670,247,664,241,661,233,650,233,646,227,651,224,645,219,637,217,630,214,627,207,621,203,614,198,605,197,595,193,585,195,578,194,569,189,569,198,568,205,567,211,559,213,552,210,542,206,540,212,540,221,545,222,549,219,554,224,559,227,557,233,561,241,555,245,549,240,542,241,539,249,539,256,542,261,547,264,546,270,545,276,551,277,554,281,550,286,545,290,539,294,533,300,528,304,523,308,529,313,533,315,539,319,541,326,544,330,545,336,544,343,551,342,557,342,563,342,567,345,572,349" shape="poly">
                <area target="_blank" alt="Amgaon" title="Amgaon" href="https://ictsbm.com/?returnUrl=amgaonwaste@ulb.com&Type=W" coords="476,160,473,143,473,128,482,125,491,115,487,102,483,91,484,80,493,86,501,92,502,102,511,107,518,110,521,120,526,130,528,140,539,145,543,150,545,158,545,164,540,168,536,175,533,185,533,193,536,199,538,208,545,213,544,221,553,224,560,231,560,238,564,246,555,239,548,240,542,245,544,257,549,264,548,271,551,279,548,287,542,292,537,300,531,305,526,308,521,302,515,302,504,303,500,308,493,315,486,308,489,300,484,293,482,286,477,288,471,285,478,281,483,269,490,260,493,254,488,251,483,256,476,259,471,250,465,250,458,256,454,249,463,231,460,222,454,223,447,225,441,226,439,219,448,200,457,195,463,186,461,174,466,170,474,173,478,167,477,151" shape="poly">
                <area target="_blank" alt="Arjuni" title="Arjuni" href="https://ictsbm.com/?returnUrl=arjuniwaste@ulb.com&Type=W" coords="223,693,230,685,239,681,232,674,225,672,221,665,216,669,211,678,203,682,201,673,207,666,209,656,218,648,209,646,202,644,197,637,200,625,201,614,208,615,213,608,215,596,218,585,227,585,228,574,234,569,228,555,227,544,228,536,233,529,242,525,249,526,258,526,267,531,275,526,282,526,283,536,298,532,308,527,316,520,324,519,328,510,337,509,345,509,351,516,348,501,348,494,356,501,364,507,369,514,377,519,387,515,397,512,404,509,410,512,420,512,426,520,433,526,433,533,423,537,420,545,417,554,422,564,430,564,428,571,423,580,422,589,422,597,418,602,402,611,398,619,391,630,388,638,385,647,393,654,403,661,412,660,420,668,427,673,438,668,444,663,453,664,460,668,470,669,478,670,477,679,471,687,468,693,466,701,462,707,455,707,450,712,447,724,438,730,429,730,429,738,422,742,406,741,397,732,385,729,377,726,371,719,358,722,351,724,332,715,329,720,321,719,311,711,303,707,293,707,286,713,280,719,276,729,271,734,263,730,253,729,248,725,244,719,236,714,238,704,233,697" shape="poly">
            </map>

        </div>


        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Today Total Scan Gondia Property</h5>
                <ul class="list-group">
                    <li class="list-group-item head-color">Today Scan House Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                    <li class="list-group-item head-color">Today Scan Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                    <li class="list-group-item head-color">Today Scan Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                    <li class="list-group-item head-color">Today Scan Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalDumpScan</li>
                </ul>

            </div>
        </div>*@
        <div class="d-flex ml-2 justify-content-between">
            <table style="width:100%;height:10%">
                <tr id="head">
                    <th colspan="3" style="border-top-left-radius: 8px; border-top-right-radius: 8px; border: none; padding-top: 5px; text-align: center"> ULBs</th>

                    @*<th style="border-top-right-radius: 8px; border: none; padding-top: 5px;">Complete ULB</th>*@

                </tr>
             
                <tr>
                  

                    <td><a target="_blank" href="https://ictsbm.com/?returnUrl=Goregaonwaste@ulb.com&Type=W">Goregaon Nagar Panchayat</a></td>

                   
                </tr>
               
                <tr>

                    <td><a target="_blank" href="https://ictsbm.com/?returnUrl=tirorawaste@ulb.com&Type=W">Tirora Nagar Parishad</a></td>

                </tr>
             

            </table>

        </div>
    </div>


</body>

</html>


<script type="text/javascript">
   

    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>

