@model MAPWEBAPP.Models.AdminMapULBDetails



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWM</title>
    <link rel="icon" type="image/x-icon" href="~/Images/SWM_Logo.png">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/tooltip.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    @*<script type="text/javascript">

             $(document).ready(function () {
                 debugger;
            var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

            for (i = 0; i < lstMapDetails.length; i++) {
                if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
                {
                    $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                    html: true,
                        track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong>"
                    });

                }
            }
            }
            );



        </script>*@
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });
        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });
    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }

        td a {
            color: #000
        }

            td a:hover {
                color: #000
            }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }
        /*  .sec td{line-height:8px !important}*/

        #head {
            /* background: #3db5f1;*/
            background: #dc3545;
            color: #fff;
        }
    </style>
</head>

<body>

    <header>
        <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%">
            <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
            <img src="/Images/Embelem.png" style="height:55px;" />
            <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
        </div>
    </header>
    <div class="d-flex" id="mahamap">
        <!-- Count List -->
        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Total Khamgaon Property</h5>

                <ul class="list-group">
                    <li class="list-group-item head-color">Total House Count Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                    <li class="list-group-item head-color">Total Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                    <li class="list-group-item head-color">Total Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                    <li class="list-group-item head-color">Total Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalDump</li>
                </ul>
            </div>
        </div>*@
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Buldhana</h4>
            <img src="/Images/GadchiroliMap/buldana-tehsil-map.jpg" usemap="#image-map" id="img_ID" class="map" style="width: 100%;">

            <map name="image-map" id="map_ID">
                <area target="_blank" alt="Khamgaon" id="3097" title="" href="https://ictsbm.com/?returnUrl=khamgaonwaste@ulb.com&Type=W" coords="475,223,466,225,469,231,463,235,458,246,456,253,449,248,446,263,441,267,448,270,449,277,444,279,438,284,432,284,426,284,419,289,418,297,411,299,408,291,403,287,397,288,387,291,388,298,388,305,382,307,378,313,377,319,373,324,379,329,384,321,389,326,392,334,400,335,391,340,385,349,391,353,392,360,391,373,396,379,400,381,402,391,405,405,413,410,418,404,425,402,431,398,434,407,437,414,451,411,457,416,459,432,470,436,487,440,491,432,497,434,504,434,507,440,520,442,526,452,544,432,550,426,552,416,557,404,574,407,569,414,581,405,583,387,588,378,583,375,583,367,591,363,588,356,588,349,580,349,571,343,577,338,573,331,566,333,559,336,555,328,544,325,540,317,531,316,522,297,516,296,509,310,504,305,493,301,492,295,503,295,511,295,514,287,506,280,483,286,473,280,472,273,474,263,478,260,475,253,472,243,476,232,483,230" shape="poly">
            </map>
        </div>

        <div class="d-flex ml-2 justify-content-between">
            <table style="width:100%;height:10%">
                <tr id="head">
                    <th colspan="3" style="border-top-left-radius: 8px; border-top-right-radius: 8px; border: none; padding-top: 5px; text-align: center"> ULBs</th>

                    @*<th style="border-top-right-radius: 8px; border: none; padding-top: 5px;">Complete ULB</th>*@

                </tr>
                <tr>
                    <td><a target="_blank" href="https://ictsbm.com/?returnUrl=Khamgaonwaste@ulb.com&Type=W">Khamgaon Nagar Parishad</a></td>

                </tr>
            </table>
        </div>
        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Today  Scan Khamgaon Property</h5>
                <ul class="list-group">
                    <li class="list-group-item head-color">Today Scan House Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                    <li class="list-group-item head-color">Today Scan Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                    <li class="list-group-item head-color">Today Scan Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                    <li class="list-group-item head-color">Today Scan Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalDumpScan</li>
                </ul>
            </div>
        </div>*@
    </div>


</body>


</html>
<script>
    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>