
@model MAPWEBAPP.Models.AdminMapULBDetails


@*@{
    Layout = null;
}*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWM</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/Main.css" rel="stylesheet" />
    <link href="~/css/tooltip.css" rel="stylesheet" />
    @*<script type="text/javascript">

         $(document).ready(function () {
                //   $('#DataTable').DataTable();
                // debugger;
                //var previousText = null;
                //var set_data = '';
                //$('[data-toggle="popover"]').popover({
                //    title: setData,
                //    html: true,
                //    container: 'body',

                //});
                //function setData(id) {
                //    // debugger;
                //    var element = $(this);
                //    var id = element.attr("id");
                //    var currentText = element.attr("id");
                //    if (previousText != currentText) {
                //        $.ajax({
                //            url: "/MAP/Loaddata?DistrictId=" + id,
                //            method: "post",
                //            dataType: 'json',
                //            async: false,
                //            data: { id: id },
                //            success: function (data) {
                //                //  debugger;
                //                set_data = data;

                //            }
                //        });

                //    }
                //    previousText = currentText;
                //    return set_data;

                //}
                debugger;
              var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));
              console.log(lstMapDetails)
            for (i = 0; i < lstMapDetails.length; i++) {
                //if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
                //{
                    $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({
                        show: false,
                        track: true,


                        content: "<strong> District Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong><br><strong> Total Liquid Count : " + lstMapDetails[i]['totalLiquid'] + " </strong><br><strong> Total Liquid Scan Count : " + lstMapDetails[i]['totalLiquidScan'] + "</strong><br><strong> Total Street Count : " + lstMapDetails[i]['totalStreet'] + "</strong><br><strong> Total Street Scan Count : " + lstMapDetails[i]['totalStreetScan'] + "</strong><br><strong>Total Dump Count : " + lstMapDetails[i]['totalDump'] + "</strong><br><strong> Total Dump Scan Count : " + lstMapDetails[i]['totalDumpScan'] + "</strong> " });

             /*   }*/

            }


            }
            );



        </script>*@

    <script>
        $(function () {
            $('.mapq').maphilight();
        });

        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });




    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }


        .ui-tooltip-content {
            position: relative;
            display: inline-block;
            color: #e9ecef;
            font-size: 66%;
        }

            .ui-tooltip-content::after {
                content: "";
                position: absolute;
                top: 50%;
                right: 100%;
                margin-top: -6px;
                border-width: 5px;
                border-style: solid;
                border-color: transparent black transparent transparent;
                margin-right: 5%;
            }

        .ui-widget-content {
            border: 1px solid #dddddd;
            background: rgb(0 0 0 / 90%) url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
            color: #333333;
            margin-top: -3%;
        }

        th, td {
            border: 1px solid #aba1a1;
            border-collapse: collapse;
         /*   border-radius:20px;*/
            font-size: 12px;
            padding: 2px;
            text-align: inherit;
            font-weight: 600;
            padding-left: 15px;
            line-height:20px
        }

        tr:nth-child(even) {
            /* background: #94c7dfab*/
           /* background: #dc3545a6*/
           background:#fff
        }

        tr:nth-child(odd) {
            /* background: #FFF*/
            /*background: #e7a6a6f2*/
            background:#fff;
        }

        #head {
            /* background: #3db5f1;*/
            background: #dc3545;
            color: #fff;
        }

        /*td:hover {*/
            /*background: #48bbf5;*/
            /*background: #e94747
        }*/

        td a {
            color: #000
        }

            td a:hover {
                color: #000
            }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }

       /* canvas{width:100%!important;}
        .mapq{width:100%!important}*/
      /*  .sec td{line-height:8px !important}*/
    </style>
</head>

<body>

<header>
    <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%" >
        <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
        <img src="/Images/Embelem.png" style="height:55px;" />
        <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
    </div>
</header>
    <div class="d-flex mt-2"id="mahamap">
        <!-- Count List -->

        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Total Maharashtra Property</h5>

                <ul class="list-group">
                    <li class="list-group-item head-color">Total House Count Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                    <li class="list-group-item head-color">Total Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                    <li class="list-group-item head-color">Total Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                    <li class="list-group-item head-color">Total Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalDump</li>
                </ul>

            </div>
        </div>*@
        <!-- ImageMap Start -->
        <div class="border border-dark" style="border-radius:8px;">
            <h4 class="text-center mx-0 bg-danger text-white" style="border-top-left-radius:8px;border-top-right-radius:8px"> Map of Maharashtra</h4>
            <img src="/Images/GadchiroliMap/Maharashtra.png" usemap="#image-map" id="img_ID" class="mapq" style="width: 100%;">
            <map name="image-map" id="map_ID">
                <area target="new" id="2012" alt="Gadchiroli" title="" class="tooltip" href="/Map/Gadchiroli?DistrictId=2012" coords="764,133,756,134,750,135,747,142,743,147,734,148,717,147,710,151,714,170,712,183,712,194,711,202,717,213,709,220,709,230,712,242,715,254,718,264,715,276,719,283,711,292,716,298,718,308,719,315,727,319,735,325,744,320,750,314,746,304,746,297,746,288,749,281,758,271,766,262,775,264,781,268,789,268,792,262,785,255,796,254,793,248,777,241,777,234,771,229,765,222,760,225,754,224,760,216,756,212,764,211,766,198,754,195,754,187,763,183,771,180,770,174,770,167,772,157,765,158,761,154,767,148,763,142" shape="poly">
                <area target="new" id="1" alt="Nagpur" title="" href="/Map/Nagpur?DistrictId=1" coords="567,96,574,93,584,89,586,83,597,82,611,84,626,81,635,73,652,66,662,65,672,66,675,75,671,83,677,88,681,100,680,109,686,123,684,130,677,141,676,147,668,150,663,153,659,158,654,160,647,152,640,146,634,147,629,142,620,133,612,130,608,122,602,113,594,110,585,104,576,100" shape="poly">
                <area target="new" id="2011" alt="Wardha" title="" href="/Map/Wardha?DistrictId=2011" coords="550,95,559,95,568,97,583,104,592,110,606,122,614,130,625,140,630,145,641,150,651,157,652,165,645,170,637,167,634,172,629,174,622,176,620,181,618,192,612,188,606,184,602,178,598,173,591,170,581,167,573,165,569,156,570,148,572,140,567,136,560,129,558,121,558,114,552,107" shape="poly">
                <area target="new" id="2" alt="Amravati" title="" href="/Map/Amravati?DistrictId=2" coords="429,98,435,93,437,83,442,77,449,76,456,72,468,63,474,66,482,65,485,58,492,62,500,63,507,71,511,79,505,78,498,77,495,82,498,87,502,93,509,95,512,89,518,95,528,94,540,94,546,89,555,86,561,78,569,75,578,72,581,81,583,88,576,93,567,95,559,95,553,95,549,101,552,109,557,113,558,121,559,130,566,137,569,146,569,154,564,156,556,156,551,160,547,165,542,160,534,166,529,164,522,164,521,158,517,150,514,142,509,138,499,139,490,141,481,140,478,131,478,120,480,108,474,108,467,105,462,107,458,112,451,109,446,108,440,111,435,102" shape="poly">
                <area target="new" id="2017" alt="palghar" title="" href="/Map/palghar?DistrictId=2017" coords="94,212,101,215,96,204,101,194,108,195,113,189,115,197,121,202,128,202,136,204,145,206,152,210,148,220,156,230,153,236,143,239,137,243,131,249,125,253,119,252,117,257,113,263,108,261,98,260,100,253,98,244,97,236,95,224" shape="poly">
                <area target="new" id="2020" alt="thane" title="" href="/Map/Thane?DistrictId=2020" coords="101,261,109,263,114,259,119,253,126,251,137,244,147,238,157,234,165,243,169,252,175,257,181,265,176,266,171,267,170,274,162,277,158,285,144,282,139,285,134,286,126,283,125,277,119,269" shape="poly">
                <area target="new" id="2015" alt="Parbhani" title="" href="/Map/Parbhani?DistrictId=2015" coords="387,272,403,278,405,284,401,291,414,292,413,301,421,302,423,308,428,312,434,318,439,312,447,314,455,311,459,305,449,306,445,291,443,277,441,270,438,260,443,250,450,241,440,240,432,231,434,224,425,226,419,222,414,217,408,218,404,224,404,231,399,232,394,235,399,241,390,242,392,251,391,259,387,267" shape="poly">
                <area target="new" id="2014" alt="Bhandara" title="" href="/Map/Bhandara?DistrictId=2014" coords="676,76,683,75,692,70,701,74,711,76,705,88,713,94,722,103,725,114,721,119,712,125,704,127,707,136,712,143,710,149,702,145,696,149,689,149,684,148,677,147,680,138,686,131,687,124,682,118,681,111,681,102,683,95,678,91,672,85" shape="poly">
                <area target="new" id="2016" alt="Solapur" title="" href="/Map/Solapur?DistrictId=2016" coords="271,363,276,354,285,351,293,350,296,343,304,340,311,340,309,351,318,356,321,361,323,370,332,372,335,364,344,357,347,346,355,354,362,358,369,352,376,351,371,358,368,365,369,373,373,382,369,386,364,381,359,386,360,396,365,402,373,397,374,404,386,407,390,413,399,409,412,417,404,421,403,429,400,434,407,444,402,445,395,442,388,443,382,443,377,446,369,447,365,443,361,440,353,440,348,438,341,430,339,435,336,441,337,447,330,451,322,448,325,455,317,452,314,459,307,456,310,451,305,449,300,452,292,452,285,455,280,461,279,455,274,454,279,448,283,443,291,433,281,431,285,424,279,417,276,410,268,406,263,404,257,399,252,398,253,390,260,382,270,384,272,389,285,392,289,386,299,378,292,371,281,364,271,359" shape="poly" />
                <area target="new" id="2019" alt="Buldhana" title="" href="/Map/Khamgaon?DistrictId=2019" coords="434,101,430,109,423,115,414,116,407,121,405,129,399,128,395,123,384,128,381,136,379,142,372,147,377,159,374,166,369,177,368,187,376,188,381,183,387,188,387,197,380,204,376,210,376,216,384,219,386,225,397,223,405,224,409,219,418,218,421,226,432,225,434,213,429,203,444,200,440,193,436,187,434,180,436,172,440,167,440,160,435,156,437,148,435,138,440,131,440,126,440,111" shape="poly">
                <area target="new" id="2018" alt="Pune" title="" href="/Map/Pune?DistrictId=2018" coords="226,277,220,283,215,288,214,297,224,307,234,317,242,330,247,335,253,348,260,344,269,351,269,363,277,366,287,367,293,371,297,379,289,385,286,392,274,389,272,384,260,380,246,380,238,379,219,376,190,366,187,378,180,381,175,378,169,378,164,376,166,369,161,364,157,359,148,353,148,345,143,341,141,332,144,324,143,309,153,299,159,283,171,274,176,267,185,262,191,269,199,265,200,277,209,281,218,278" shape="poly">
                <area target="new" id="2010" alt="Gondia" title="" href="/Map/Gondia?DistrictId=2010" coords="715,75,708,81,704,85,705,91,715,94,721,100,724,110,724,118,717,120,710,127,703,128,709,139,712,149,720,146,730,148,739,149,746,142,746,133,751,137,763,134,760,127,754,125,749,118,752,111,758,105,764,102,772,94,765,91,756,87,748,77,734,67,729,70,724,76" shape="poly">
                <area target="new" id="2013" alt="Chandrapur" title="Chandrapur" href="/Map/Chandrapur?DistrictId=2013" coords="618,190,626,194,632,202,639,209,643,217,647,222,642,226,633,228,622,237,629,241,629,248,636,249,647,255,652,246,661,247,672,250,679,250,688,248,696,245,710,251,710,242,711,233,707,223,714,217,716,210,708,204,713,195,712,187,712,180,714,172,710,165,711,155,706,149,700,146,692,151,685,147,677,147,672,153,666,149,663,156,656,158,652,163,649,169,642,170,635,169,629,173,624,174,618,181" shape="poly">
                <area target="new" id="2024" alt="Nashik" title="Nashik" href="/Map/Nashik?DistrictId=2024" coords="135,202,147,194,155,192,156,184,153,175,159,167,161,159,157,152,166,153,173,160,181,161,189,159,190,151,199,147,200,141,210,138,222,139,235,139,243,144,252,143,260,148,263,154,274,158,271,167,275,178,277,190,268,194,266,203,262,216,261,223,257,228,254,223,255,213,246,212,235,211,224,210,225,218,231,222,228,227,221,228,215,232,212,239,205,238,194,235,192,228,184,232,183,240,166,247,156,235,157,229,151,227,150,220,152,211,142,205" shape="poly">
                <area target="new" id="2021" alt="Ahmadnagar" title="Ahmadnagar" href="/Map/Ahmadnagar?DistrictId=2021" coords="167,248,175,243,183,242,183,234,192,231,193,237,200,238,208,243,213,234,221,231,229,229,232,224,225,219,222,211,232,213,241,213,250,213,257,214,254,223,259,229,267,233,269,240,276,242,285,241,294,245,302,248,311,251,320,256,325,263,332,266,329,271,324,278,324,285,311,289,305,291,311,298,294,291,295,285,287,288,280,289,284,298,274,299,277,307,284,314,292,319,299,325,303,319,309,318,318,316,321,311,327,320,336,321,333,327,328,332,324,337,318,336,312,340,305,337,302,342,297,338,295,346,289,349,273,357,270,351,264,349,263,342,256,348,250,342,247,330,238,329,242,324,222,305,216,295,216,288,222,282,217,279,211,279,203,275,199,266,192,267,181,263,177,258,173,252" shape="poly">
                <area target="new" id="2022" alt="Satara" title="Satara" href="/Map/Satara?DistrictId=2022" coords="222,437,224,444,222,454,217,460,208,461,201,464,193,459,185,451,177,450,172,457,170,444,169,436,174,427,172,419,169,409,160,406,162,396,162,387,168,379,177,377,186,379,189,370,195,368,204,370,213,373,224,376,237,379,245,380,251,379,260,381,250,390,253,397,260,402,267,407,275,411,276,418,275,424,272,430,260,428,259,435,247,437,240,438,232,439" shape="poly">
                <area target="new" id="2023" alt="Sangli" title="Sangli" href="/Map/Sangli?DistrictId=2023" coords="169,455,174,446,183,452,194,457,205,460,213,460,222,447,222,438,229,437,241,438,253,436,267,430,276,423,281,428,289,432,285,439,283,445,278,450,276,458,282,461,288,453,297,452,304,451,308,457,315,457,323,454,335,450,343,457,340,463,344,472,341,477,332,478,322,475,315,478,309,480,307,485,297,482,286,477,278,480,275,488,270,495,262,495,253,492,242,484,233,483,219,477,210,477,201,475,192,466,184,458,176,458" shape="poly">
            </map>

        </div>


        <div class="d-flex ml-2 justify-content-between">
            <table style="width:100%;height:85%">
                <tr id="head">
                    <th colspan="3" style="border-top-left-radius: 8px; border: none; padding-top: 5px;text-align:center"> ULBs</th>

                    @*<th style="border-top-right-radius: 8px; border: none; padding-top: 5px;">Complete ULB</th>*@

                </tr>
                <tr>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Aarmoriwaste@ulb.com&Type=W">Aarmori Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Etapalliwaste@ulb.com&Type=W">Etapalli Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=korchiwaste@ulb.com&Type=W">Korchi Nagar Parishad</a></td>
                 

                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=aheriwaste@ulb.com&Type=W">Aheri Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=gadchiroliwaste@ulb.com&Type=W">Gadchiroli Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Mulcherawaste@ulb.com&Type=W">Mulchera Nagar Panchayat</a></td>

                   

                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Aklujwaste@ulb.com&Type=W">Akluj Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Goregaonwaste@ulb.com&Type=W">Goregaon Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Mulwaste@ulb.com&Type=W">Mul Nagar Parishad</a></td>
     



                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Amgaonwaste@ulb.com&Type=W">Amgaon Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=hinganghatwaste@ulb.com&Type=W">Hinganghat Nagar Parishad</a></td>

                    <td><a target="new" href="https://nagpur.ictsbm.com/?returnUrl=nagbhidwaste@ulb.com&Type=W">Nagbhid Nagar Parishad</a></td>
         



                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Arjuniwaste@ulb.com&Type=W">Arjuni Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=hingnawaste@ulb.com&Type=W">Hingna Nagar Panchayat</a></td>

                    <td><a target="new" href="https://nagpur.ictsbm.com/?returnUrl=nagpurwaste@ulb.com&Type=W">Nagpur Mahanagar Palika</a></td>




                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Arviwaste@ulb.com&Type=W">Arvi Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=indapurwaste@ulb.com&Type=W">Indapur Nagar Parishad</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=narkhedwaste@ulb.com&Type=W">Narkhed Nagar Parishad</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Ashtiwaste@ulb.com&Type=W">Ashti Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=jathwaste@ulb.com&Type=W">Jath Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Narkhedwaste@ulb.com&Type=W">Palghar Nagar Parishad</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Ballarpurwaste@ulb.com&Type=W">Ballarpur Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=jinturwaste@ulb.com&Type=W">Jintur Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=pulgaonwaste@ulb.com&Type=W">Pulgaon Nagar Parishad</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Bhamragadwaste@ulb.com&Type=W">Bhamragad Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=kalmeshwarbrahmaniwaste@ulb.com&Type=W">Kalmeshwar-Brahmani Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=rahimatpurwaste@ulb.com&Type=W">Rahimatpur Nagar Parishad</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Bhisiwaste@ulb.com&Type=W">Bhisi Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=khapawaste@ulb.com&Type=W">Khapa Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=saoliwaste@ulb.com&Type=W">Saoli Nagar Panchayat</a></td>


                </tr>
                <tr>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Chamorshiwaste@ulb.com&Type=W">Chamorshi Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=kurkhedawaste@ulb.com&Type=W">Kurkheda Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=salekasawaste@ulb.com&Type=W">Salekasa Nagar Panchayat</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Chandurrailwaywaste@ulb.com&Type=W">Chandur Railway Nagar Parishad</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=mahadulawaste@ulb.com&Type=W">Mahadula Nagar Panchyat</a></td>
                    <td><a target="new" href="https://shrirampur.ictsbm.com/?returnUrl=shrirampurwaste@ulb.com&Type=W">Shrirampur Nagar Parishad</a></td>


                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Chandwadwaste@ulb.com&Type=W">Chandwad Nagar Parishad</a></td>

                    <td>
                        <a target="new" href="https://ictsbm.com/?returnUrl=mangalwedhawaste@ulb.com&Type=W">Mangalwedha Nagar Parishad</a>
                    </td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=sindirailwaywaste@ulb.com&Type=W">Sindi Railway Nagar Parishad</a></td>






                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=dahanuwaste@ulb.com&Type=W">Dahanu Nagar Parishad</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=manwatwaste@ulb.com&Type=W">Manwat Nagar Parishad</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=sironchawaste@ulb.com&Type=W">Sironcha Nagar Panchayat</a></td>



                </tr>
                <tr>
                    <td> <a target="new" href="https://ictsbm.com/?returnUrl=Daundwaste@ulb.com&Type=W">Daund Nagar Parishad</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=mohadiwaste@ulb.com&Type=W">Mohadi Nagar Panchayat</a></td>

                    <td><a target="new" href="https://thane.ictsbm.com/?returnUrl=thanewaste@ulb.com&Type=W">Thane Mahanagar Palika</a></td>



                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=desaiganjwaste@ulb.com&Type=W">Desaiganj Nagar Parishad</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=moudawaste@ulb.com&Type=W">Mouda Nagar Pancahyat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=tirorawaste@ulb.com&Type=W">Tirora Nagar Parishad</a></td>



                </tr>
                <tr>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=Dhanorawaste@ulb.com&Type=W"> Dhanora Nagar Panchayat</a></td>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=murbadwaste@ulb.com&Type=W">Murbad Nagar Panchayat</a></td>
                    <td><a target="new" href="https://ictsbm.com/?returnUrl=wardhawaste@ulb.com&Type=W">Wardha Nagar Parishad</a></td>


                </tr>
               

            </table>
          
        </div>
    </div>

</body>
</html>

<script>
    window.onload = function () {
        debugger;
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>
