@model MAPWEBAPP.Models.AdminMapULBDetails

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>SWM</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/tooltip.css" rel="stylesheet" />
    @*<script type="text/javascript">

           $(document).ready(function () {
                 debugger;
            var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

            for (i = 0; i < lstMapDetails.length; i++) {
                if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
                {
                    $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                    html: true,
                        track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong>"
                    });

                }
            }
            }
            );


        </script>*@
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });
        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });
    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }
        /*  .sec td{line-height:8px !important}*/
        th, td {
            border: 1px solid #aba1a1;
            border-collapse: collapse;
            /*   border-radius:20px;*/
            font-size: 12px;
            padding: 2px;
            text-align: inherit;
            font-weight: 600;
            padding-left: 15px;
            line-height: 20px
        }

        tr:nth-child(even) {
            /* background: #94c7dfab*/
            /* background: #dc3545a6*/
            background: #fff
        }

        tr:nth-child(odd) {
            /* background: #FFF*/
            /*background: #e7a6a6f2*/
            background: #fff;
        }

        #head {
            /* background: #3db5f1;*/
            background: #dc3545;
            color: #fff;
        }

        /*td:hover {*/
        /*background: #48bbf5;*/
        /*background: #e94747
        }*/

        td a {
            color: #000
        }

            td a:hover {
                color: #000
            }
    </style>
</head>

<body>

    <header>
        <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%">
            <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
            <img src="/Images/Embelem.png" style="height:55px;" />
            <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
        </div>
    </header>
    <div class="d-flex mt-2">
        <!-- Count List -->
       
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Satara</h4>
            <img src="/Images/GadchiroliMap/satara-tehsil-map.jpg" usemap="#image-map" class="map" id="img_ID" style="width: 100%;">

            <map name="image-map" id="map_ID">
                <area target="new" alt="Mangalwedha" id="3095" title="" href="https://ictsbm.com/?returnUrl=mangalwedhawaste@ulb.com&Type=W" coords="322,495,329,496,338,490,351,485,361,482,372,473,384,474,392,467,397,460,406,466,419,467,418,478,427,478,432,487,436,481,446,486,448,494,458,491,457,502,452,509,452,516,450,525,444,536,446,548,441,553,432,557,433,565,440,573,446,582,443,587,436,591,428,595,421,599,411,609,407,615,388,617,384,610,377,607,369,606,364,615,362,623,363,631,364,640,355,637,348,637,349,630,347,622,343,618,332,620,335,613,330,601,332,589,334,579,332,571,326,567,319,567,319,557,323,543,318,534,314,520,315,509" shape="poly">
                <area target="new" alt="Akluj" id="3085" title="" href="https://ictsbm.com/?returnUrl=aklujwaste@ulb.com.com&Type=W" coords="202,337,208,338,212,343,215,337,222,341,219,332,225,331,231,333,237,330,233,324,240,324,247,325,253,319,247,312,255,312,261,309,264,314,268,320,275,320,278,325,273,329,269,334,263,339,255,342,252,348,254,354,260,355,268,350,278,349,283,354,285,365,276,368,269,374,266,382,263,388,267,393,263,398,258,404,251,403,246,399,241,395,238,386,232,382,225,376,217,370,211,363,204,346" shape="poly">
            </map>
        </div>

        <div class="d-flex ml-2 justify-content-between">
            <table style="width:100%;height:10%">
                <tr id="head">
                    <th colspan="3" style="border-top-left-radius: 8px; border-top-right-radius: 8px; border: none; padding-top: 5px; text-align: center"> ULBs</th>

                    @*<th style="border-top-right-radius: 8px; border: none; padding-top: 5px;">Complete ULB</th>*@

                </tr>
                <tr>

                    <td><a target="new" href="https://ictsbm.com/?returnUrl=rahimatpurwaste@ulb.com&Type=W">Rahimatpur Nagar Parishad</a></td>

                </tr>



            </table>
        </div>
        @*<div class="mr-5">
            <div class="border border-dark1 ml-4 mt-5 rounded">
                <h5>Today Total Scan Satara Property</h5>
                <ul class="list-group">
                    <li class="list-group-item head-color">Today Scan House Count</li>
                    <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                    <li class="list-group-item head-color">Today Scan Liquid Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                    <li class="list-group-item head-color">Today Scan Street Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                    <li class="list-group-item head-color">Today Scan Dump Count</li>
                    <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalDumpScan</li>
                </ul>
            </div>
        </div>*@
    </div>


</body>


</html>
<script>
    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>