@model MAPWEBAPP.Models.AdminMapULBDetails


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.maphilight.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link href="~/css/tooltip.css" rel="stylesheet" />
    @*<script type="text/javascript">

             $(document).ready(function () {
                 debugger;
            var lstMapDetails = @Html.Raw(Json.Serialize(@Model.ListMapDetails));

            for (i = 0; i < lstMapDetails.length; i++) {
                if ($("area[id=" + lstMapDetails[i]['ulbId'] + "]").length)
                {
                    $("area[id=" + lstMapDetails[i]['ulbId'] + "]").tooltip({

                    html: true,
                        track: true, content: "<strong> ULB Name : " + lstMapDetails[i]['ulbName'] + "</strong><br><strong>Total House Count : " + lstMapDetails[i]['totalHouse'] + "</strong><br><strong>Today House Scanned : " + lstMapDetails[i]['totalHouseScan'] + "</strong>"
                    });

                }
            }
            }
            );

        </script>*@
    <script type="text/javascript">
        $(function () {
            $('.map').maphilight();
        });
        $(function () {


            $('area[title]').click(function () {
                var $this = $(this);
                $this.blur();
                setTimeout(function () {
                    $this.show()
                }, 1);
            });

        });
    </script>
    <style type="text/css">
        .border-dark1 {
            border-color: #c2c2c2;
        }

        .head-color {
            background: #065d96;
            color: white;
        }

        .list-group-item {
            padding: .5rem 1.25rem;
        }

        .count-color {
            background: #e8e8e8;
        }

        body {
            background: #fff;
            ;
        }

        .bg-footer {
            background: #0d3845;
        }

        .bg-black {
            background: #000
        }

        .popover-header {
            font-size: 75%;
        }

        .bg-1 {
            background: url(/Images/BG1.png);
            /* height: 323px; */
            background-position: bottom;
            background-size: cover;
            /* background-repeat: round;*/
        }
        /*  .sec td{line-height:8px !important}*/
    </style>
</head>

<body>

    <header>
        <div class="d-flex justify-content-between py-2 bg-1" style="padding-left:5%;padding-right:5%">
            <img src="/Images/Final Azadi Ka Amrit Mahotsav_Logo.png" style="height:55px;" />
            <img src="/Images/Embelem.png" style="height:55px;" />
            <img src="/Images/linkImages/EK-Kdam-Logo.png" style="height:55px;" />
        </div>
    </header>
    <div class="d-flex">
        <!-- Count List -->
        @*<div class="mr-5">
                <div class="border border-dark1 ml-4 mt-5 rounded">
                    <h5>Total Thane Property</h5>

                    <ul class="list-group">
                        <li class="list-group-item head-color">Total House Count</li>
                        <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouse</li>
                        <li class="list-group-item head-color">Total Liquid Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalLiquid</li>
                        <li class="list-group-item head-color">Total Street Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreet</li>
                        <li class="list-group-item head-color">Total CTPT Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalCTPT</li>
                        <li class="list-group-item head-color">Total Commercial Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalCommercial</li>
                        <li class="list-group-item head-color">Total SWM Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalSWM</li>

                    </ul>

                </div>
            </div>*@
        <!-- ImageMap Start -->
        <div class="border border-dark rounded">
            <h4 class="text-center mx-0 bg-danger text-white mb-0"> Map of Thane</h4>
            <img src="/Images/GadchiroliMap/thane-tehsil-map.jpg" usemap="#image-map" id="img_ID" class="map" style="width: 100%;">

            <map name="image-map" id="map_ID">
                <area target="new" id="3088" alt="Thane" href="https://thane.ictsbm.com/?returnUrl=thanewaste@ulb.com&Type=W" title="Thane" coords="23,407,29,397,32,387,41,391,53,399,61,405,68,409,75,404,89,406,99,403,110,397,115,402,126,408,135,416,139,431,145,439,149,452,156,464,162,474,170,481,181,479,190,475,198,480,203,488,201,496,205,509,206,519,209,526,218,527,228,527,235,531,231,539,229,548,225,555,216,551,210,549,203,551,195,551,190,559,181,561,180,577,179,587,182,601,181,615,181,628,177,635,168,644,158,640,151,643,145,645,138,642,137,635,138,627,140,616,136,605,132,596,126,594,128,582,128,568,134,552,141,540,146,526,148,517,139,509,131,501,124,499,116,493,100,489,100,478,89,469,80,455,72,441,64,441,54,437,47,432,36,423" shape="poly">
                <area target="new" id="3112" alt="Murbad" href="https://ictsbm.com/?returnUrl=murbadwaste@ulb.com&Type=W" title="Murbad" coords="370,387,375,383,374,374,381,378,388,374,396,370,404,364,411,370,418,374,419,384,425,390,431,396,439,397,438,387,443,380,452,380,458,378,458,370,458,360,465,363,477,373,486,368,499,368,507,372,515,379,530,370,540,373,547,371,550,361,557,363,569,371,578,379,581,366,587,362,582,355,587,351,595,352,598,345,592,342,596,336,598,327,602,321,609,318,607,309,612,304,615,295,611,286,619,276,623,266,631,265,631,274,638,278,650,286,662,286,677,280,688,286,700,291,709,293,711,305,728,307,732,317,743,318,751,326,758,341,763,360,760,372,749,368,745,373,730,375,728,369,713,372,697,379,691,385,680,386,676,394,666,398,665,406,672,414,680,422,684,431,681,441,675,446,660,446,649,461,643,466,635,477,631,471,624,474,618,488,608,485,601,488,590,488,586,495,578,494,574,490,568,498,563,503,565,511,560,518,568,527,564,541,554,537,541,537,530,539,524,543,514,532,503,535,493,536,482,541,458,534,451,534,448,522,445,513,433,511,426,506,421,497,416,481,415,471,406,468,394,463,385,455,380,440,388,431,389,422,391,413,393,406,385,406,377,405,370,401" shape="poly">
            </map>
        </div>


        @*<div class="mr-5">
                <div class="border border-dark1 ml-4 mt-5 rounded">
                    <h5>Today Total Scan Thane Property</h5>
                    <ul class="list-group">
                        <li class="list-group-item head-color">Today  Scan House  Count</li>
                        <li class="list-group-item count-color"> <i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>  @Model.TotalHouseScan</li>
                        <li class="list-group-item head-color">Today Scan Liquid Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalLiquidScan</li>
                        <li class="list-group-item head-color">Today Scan Street Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalStreetScan</li>
                        <li class="list-group-item head-color">Today CTPT Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalCTPTScan</li>
                        <li class="list-group-item head-color">Today Scan Commercial Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i>@Model.TotalCommercialScan</li>
                        <li class="list-group-item head-color">Today Scan SWM Count</li>
                        <li class="list-group-item count-color"><i class="fa-solid fa-caret-right" style="margin-right: 15%;"></i> @Model.TotalSWMScan</li>
                    </ul>
                </div>
            </div>*@
    </div>


</body>


</html>
<script>
    window.onload = function () {
        var ImageMap = function (map, img) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = img.offsetWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = img.offsetWidth;
                return true;
            };
            window.onresize = this.resize;
        },
            imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
        imageMap.resize();
        return;
    }

</script>